h1, h2, h3, h4, h5, p {
  font-weight: normal;
  font-style: normal;
  margin:0;
  color: #E4E6EB;
}

html{
  overflow-x: hidden;
}
:root{
  --margin-border: 3vw;
  --margin-grid: 20px;
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blurb {
  text-align: center;
  line-height: 2em;
  position: absolute;
  width: 70%;
  top: 30%;
  left: 15%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #E4E6EB;
}

a{
  color: #E4E6EB;
  text-decoration: none;
}

p{
  font-size: 18px;
  line-height: 1.3em;
  color: #E4E6EB;
}

a:visited,
p > a{
  color: #E4E6EB;
}

li > .hili_ref,
p > .hili_ref,
p > .hili_ref:visited{
  color: #8899A6;
}

li > .fn_ref,
p > .fn_ref,
li > .fn_ref:visited,
li > .fn_ref:hover,
p > .fn_ref:visited,
p > .fn_ref:hover {
  color: #FEC260;
}

a:hover,
p > a:hover,
li > .hili_ref:hover,
p > .hili_ref:hover{
  color: #800080;
}

h2{
  font-size: 18px;
  line-height: 1.3em;
  color: #E4E6EB;
}

body {
    margin: 60px auto;
    width: 70%;
    background: #181818;
}

ul.posts {
    margin: 20px auto 40px;
}

ul.posts li {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1.1em;
    margin-bottom: 7px;
}

/*-----------------------FOOTER-----------------------*/
.arrow{
  height: 17px;
}

.footer{
  position: fixed;
  bottom: 0;
  display: table;
  width: 100%;

}

.footer-right h2:first-child, .footer-left h2:last-child{margin: 0;}

.footer a{
  text-decoration: none;
}

.footer-left,
.footer-right{
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.footer-right h2{
  margin-left: 15px;
  display: inline-block;
}

.footer-left h2{
  margin-right: 15px;
  display: inline-block;
}

.footer-right{
  right: 0;
  text-align: right;
}

/* -----------------------HEADER-----------------------*/
.header {
  grid-column: 2/ span 13;
  display: table;
  height: 50px;
  margin: 15px 5px 50px 5px;
}

.header p{
  display: table-cell;
  width: calc(100% / 3);
  text-align: center;
}

.header p:first-child{
text-align: left;
}

.header p:last-child{
text-align: right;
}
/*......................blog......................*/
.bandeau{
    grid-column: 2/span 13;
    border-bottom: #E4E6EB 1px solid;
    text-align: right;
}

#name{
    display: inline-block;
    float: left;
}

#annee{
    display: inline-block;
}

.content-scroll{
    grid-column: 2/span 13;
    height: 70vh;
    overflow-x: auto;
}

.content-scroll{
  grid-column: 2/span 13;
  height: 70vh;
  overflow-x: auto;
}

.projet{
  width: 100%;
  height: 50px;
  text-align: right;
  vertical-align: middle;
  border-bottom: solid 1px #E4E6EB;
  display: table;
}

.projet a{
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
}

.projet h2:first-child{
  float: left;
}

.projet:hover h2{
  font-style: italic;
  color: #800080;
}

@media screen and (max-width: 900px) {
  .footer-left{
      width: 100%;
  }

  .blog-title {
      text-align: left;
  }
  .blog-date {
    vertical-align: middle;
    text-align: right;
  }

#annee,
#name {
      display: none;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 38px;
  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  h2 {
    font-size:32px;
  }

  h3 {
    font-size: 26px;

  }

  h4 {
    font-size: 20px;
    }

  p {
    font-family: 'Arial';
    font-size: 18px;
  }

  li {
    font-family: 'Arial';
    font-size: 18px;
  }
