<!DOCTYPE html>
	<html>
		<head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
      <link rel="manifest" href="/favicon/site.webmanifest">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/base.css">

		</head>
		<body>
      <header class="header">
            <p><a href="/index.html">Lady Dragon</a></p>
            <p><a href="/pages/blog">Blog</a></p>
            <p><a href="/pages/about">Information</a></p>
      </header>
			<div class="intro">
				{{content}}
			</div>

			<div class="footer">
				<div class="footer-left">
					<p>All rights reserved © 2022 - <span id="year"></span></p>
				</div>
				<div class="footer-right">
				</div>
			</div>
		</body>
		<script>
			// get new date object
			var dt = new Date();
			// update copyright range to most recent year
			document.getElementById('year').innerHTML = dt.getFullYear();
		</script>
	</html>
